body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.header {
    width: 100%;
    position: fixed;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.header,
.logo,
.header-left,
.header-right {
    display: flex;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 7px;
}

.header,
.header-left,
.header-right {
    gap: 35px;
}

.logo {
    gap: 10px;
}

.header-left,
.header-right {
    font-size: 15px;
    font-weight: 600;
}

.logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 700;
}

.active {
    color: orange;
}

.header img {
    width: 25px;
    height: 25px;
}







.headera-left a,
.headera-right a {
    color: orange;
}

.headera,
.headera-left,
.headera-right {
    justify-content: space-between;
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 17px;
    padding-right: 17px;
    gap: 45px;
}

.headera-left,
.headera-right {
    font-size: 11px;
    font-weight: 600;
}