* {
    font-family: 'Segoe UI';
}

body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 40px 5px;
    background-color: white;
}

header a {
    text-decoration: none;
    color: #454545;
}

.logo-stiki img {
    display: flex;
    width: 45px;
    height: 45px;
    object-fit: cover;
    padding: 3px;
    border: 1px solid transparent;
}

.brand {
    display: grid;
    flex: 1;
    margin: 0px 5px;
    height: 45px;
    padding: 3px;
    border: 1px solid transparent;
}

.brand-bottom, .profile {
    font-weight: 500;
}

.help {
    display: flex;
    align-items: center;
    text-align: center;
    height: 45px;
    padding: 3px;
    border: 1px solid transparent;
}

.help a:hover {
    text-decoration: underline;
}

.profile {
    display: flex;
    margin: 0px 5px;
}

.profile a {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 3px 15px;
    border: 1px solid rgb(231, 231, 231);
}

.profile a:hover {
    background-color: #454545;
    color: white;
}

.foto-profil img {
    display: flex;
    width: 45px;
    height: 45px;
    object-fit: cover;
    padding: 3px;
    border: 1px solid rgb(231, 231, 231);
}

.foto-profil:hover {
    background:
        linear-gradient(blue, white, darkgoldenrod, white, blue 100%) 0 0/100% 200%;
    animation: a 2s linear infinite;
}

@keyframes a {
    to {
        background-position: 0 -200%
    }
}

/*  */

nav {
    background-color: white;
    padding: 0px 40px;
    border-bottom: 1px solid rgb(231, 231, 231);
    white-space: nowrap;
}

nav div {
    display: flex;
    gap: 5px;
}

nav a {
    text-decoration: none;
    color: #454545;
    padding: 10px 15px;
}

nav li {
    list-style-type: none;
}

/*  */

li a, .dropbtn {
    display: inline-block;
    display: flex;
    align-items: center;
}

.dropdown-content a {
    background-color: white;
}

.dropdown:hover .dropbtn, .remove-li-dot a:hover {
    color: goldenrod;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* min-width: 200px; */
    border: 1px solid rgb(231, 231, 231);
    border-bottom: 2px solid goldenrod;
}

.dropdown-content a:hover {
    color: goldenrod;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*  */

svg {
    width: 8px;
    padding-left: 9px;
    padding-top: 3px;
}