body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.header {
    width: 100%;
    position: fixed;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}

.header,
.logo,
.header-left,
.header-right {
    display: flex;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header,
.header-left,
.header-right {
    gap: 38px;
}

.header-left,
.header-right {
    font-size: 15px;
    font-weight: 600;
}

.logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight:bold;
    padding: 0;
}

.active {
    color: orange;
}

.header p,
.logo {
    display: block;
}

.header p {
    margin: 0;
    font-size: 17px;
    font-weight: 100;
}

.buku,
.buku img {
    width: 50px;
    height: 50px;
    padding-left: 24px;
}

.header p,
.logo,
.buku,
.buku img {
    margin: 0;
}

.header p,
.logo{
    padding-right: 40px;
}








.headera-left a,
.headera-right a {
    color: orange;
}

.headera,
.headera-left,
.headera-right {
    justify-content: space-between;
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 42px;
}

.headera-left,
.headera-right {
    font-size: 12px;
    /* font-weight: 600; */
}